@font-face {
  font-family: PT Sans;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

/*Header*/

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link-counter {
  font-size: 10px;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
}

.btn {
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
}

.navigation-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

/*Promo*/

.promo {
  background-image: url("../images/background/divider.svg"), url("../images/background/promo.jpg");
  background-color: #65b0e1;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

/*Advantages*/

.section-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.section-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  text-align: center;
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item--accent .advantages-title {
  color: #ffffff;
}

.advantages-item--accent {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item--regular:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item--regular:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.popular-advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Search*/



/*Subscription*/

.subscription {
  background-color: #ffffff;
}

.subscription-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  background-color: #F2F2F2;
}

.subscription-btn {
  background-color: #82B3D3;
}


/*Footer*/

.page-footer {
  background-color: #ffffff;
}

.social-list {
  list-style: none;
}

.page-footer a {
  text-decoration: none;
  color: #000000;
}

.contact {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}


/*Catalog*/

/*Filter*/

.inner-wrapper {
  background-image: url("../images/background/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #65b0e1;
  background-position: left top;
}

.inner-header {
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.filter-list {
  list-style: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.filter-group-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.submit-btn {
  background-color: #82B3D3;
}

.reset-btn {
  background-color: transparent;
}

.catalog-select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-family: inherit;
}

.catalog-view {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

/*Card*/

.card-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card-btn-favorite {
  background-color: #82B3D3;
}

.card-btn-chosen {
  background-color: #7DB54F;
}

.card-rate {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

/*Pagination*/

.pagination {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-more {
  color: #000000;
  background-color: transparent;
}

/*Subscription Special*/

.subscription-special {
  background-image: url("../images/background/subscribe.jpg");
  background-color: #65b0e1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.subscription-special .section-title {
  color: #ffffff;
}

.subscription-special .section-description {
  color: #ffffff;
}
